<header >
  <!-- *ngIf="hasPermission('Add')" -->
  <div>
    <div class="inputs">
      <input placeholder="Digite o nome..." [(ngModel)]="nome" />
      <select [(ngModel)]="prop">
        <option *ngFor="let prop of listaProps" [ngValue]="prop">{{ prop.name }}</option>
      </select>
    </div>

    <div>
      <button (click)="cadastrarTarefa()">Cadastrar</button>
    </div>
  </div>
</header>

<!-- <main>
  <section class="container-geral">
    <div *ngFor="let prop of listaProps">
      <div class="prop-column"
      (dragover)="dragoverProp(prop, $event)" (drop)="drop($event)">

        <div class="prop-title">
          <p> {{ prop.name }} </p>
        </div>

        <div *ngFor="let tarefa of listaTarefas; index as index">
          <div *ngIf="tarefa.properties.name == prop.name" class="card"
          draggable="true"
          (dragstart)="dragTarefa(tarefa)"
          (drop)="getIndex(index, $event)">
            <div class="card-title">
              <p> {{ tarefa.name }} </p>
            </div>

            <div class="card-content">
                <p> {{ tarefa.properties.name }}: </p>

                <div class="input">
                  <p *ngIf="!tarefa.inputAdd"> {{ tarefa.content }} </p>
                  <input *ngIf="tarefa.inputAdd && tarefa.properties.type == 'Texto'" [(ngModel)]="conteudo" />
                  <input type="number" *ngIf="tarefa.inputAdd && tarefa.properties.type == 'Número'" [(ngModel)]="conteudo" />
                  <select *ngIf="tarefa.inputAdd && tarefa.properties.type == 'Seleção'" [(ngModel)]="conteudo">
                    <option *ngFor="let item of prop.items"> {{ item }} </option>
                  </select>
                </div>
            </div>

            <div class="card-buttons">
              <button *ngIf="!tarefa.inputAdd && hasPermission('Edit')" (click)="showInput(tarefa)">Editar</button>
              <button *ngIf="!tarefa.inputAdd && hasPermission('Remove')" (click)="removerTarefa(tarefa)">Remover</button>

              <button *ngIf="tarefa.inputAdd" (click)="showInput(tarefa)">Cancelar</button>
              <button *ngIf="tarefa.inputAdd" (click)="confirmarAlteracao(tarefa)">Confimar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main> -->
