#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px 2px grey;
    width: 260px;
    min-height: 150px;
    padding: 10px;
}

.title {
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
}

.title:hover {
  background-color: lightgray;
}

.title input {
  text-align: center;
  height: 30px;
  padding: 0;
  border: none;
}

.title input:focus {
  outline: none;
}
