<div id="card">
  <div class="title bold">

    <p *ngIf="!isEditingTitle"
        (dblclick)="editCardTitle()">
        {{ task.name ? task.name : 'Nome indefinido' }}
    </p>

    <input type="text"
        class="title bold"
        *ngIf="isEditingTitle"
        [(ngModel)]="task.name"
        (change)="commitChange()"
        (keyup.enter)="editCardTitle()"
    >

  </div>

  <div class="content flex-row" *ngFor="let prop of task.properties">
    <p class="bold"> {{ prop.name }}: </p>
    <p>{{ prop.content ? prop.content : 'Vazio' }}</p>
  </div>

  <div class="buttons">
    <button (click)="editCard()">Editar</button>
    <button (click)="removeCard()">Remover</button>
  </div>
</div>


