<h1>TODO APP</h1>

<input *ngIf="mostraInput" 
      placeholder="Nome da tarefa"  
      [(ngModel)]="tarefa.nome"
      name="input">

<button (click)="cadastrarTarefa()" (click)="limpar()">Cadastrar</button>

<div>
  <h4 *ngFor="let tarefaAdd of lista; index as indice; first as isFirst">  
    Tarefa {{ indice }} -> {{ tarefaAdd.nome }} - Categoria: {{ tarefaAdd.categoria }}
    <br>
    <div>
      <h4 style="margin-bottom: 7px;">Adicionar categoria</h4>
      <button (click)="adicionarCategoria(tarefaAdd, $event)">TODO</button>
      <button (click)="adicionarCategoria(tarefaAdd, $event)">DOING</button>
      <button (click)="adicionarCategoria(tarefaAdd, $event)">DONE</button>
    </div>
    <br>
    <button (click)="removerTarefa(tarefaAdd)">Remover tarefa</button>
    <!-- <button (click)="adicionarCategoria(tarefaAdd)">Adicionar categoria</button>
    <input *ngIf="mostraCategoria" [(ngModel)]="pessoa.categoria">
    <label *ngIf="mostraCategoria">Categoria: {{ tarefaAdd.categoria }}</label> -->
  </h4>
</div>