<body>
  <section id="cadastro">

    <div id="title">
      <h1>ToDo-App</h1>
    </div>

    <div id="register">
      <input placeholder="Digite o nome da tarefa"  
            [(ngModel)]="tarefa.nome"
            name="input"
            maxlength="16">
      
      <select class="select"
      name="categoria"
      [(ngModel)]="tarefa.categoria">
        <option>TODO</option>
        <option>DOING</option>
        <option>DONE</option>
      </select>

      <button id="cadastrar" (click)="cadastrarTarefa()" (click)="limpar()">Cadastrar</button>
    </div>
  </section>


  <section id="tarefas">
    <div class="tarefa" *ngFor="let tarefaAdd of lista; index as indice; first as isFirst">
      <div id="geral">
        <div id="textos">
          <label id="indexTarefa">Tarefa {{ indice }}</label>
          <label id="titleTarefa">{{ tarefaAdd.nome }}</label> <br>
          <label id="categoriaTarefa">Categoria: <strong>{{ tarefaAdd.categoria }}</strong></label>
        </div>
          <br>

          <div id="categoria">

            <label style="margin-bottom: 7px;">Alterar categoria</label>

            <div id="categoriaBotoes">
              <button class="botaoCategoriaUn" (click)="adicionarCategoria(tarefaAdd, $event)">TODO</button>
              <button class="botaoCategoriaUn" (click)="adicionarCategoria(tarefaAdd, $event)">DOING</button>
              <button class="botaoCategoriaUn" (click)="adicionarCategoria(tarefaAdd, $event)">DONE</button>
            </div>
          </div>
          <br>

          <div id="remover">
            <button id="botaoRemover" (click)="removerTarefa(tarefaAdd)">Remover tarefa</button>
          </div>
      </div>
    </div>
    </section>
</body>
