<h1>TODO APP</h1>

<input *ngIf="mostraInput" 
      placeholder="Nome" 
      [(ngModel)]="pessoa.nome"
      name="filterName">

<button (click)="cadastrarUsuario()" (click)="limpar()">Cadastrar</button>

<div>
  <h4 *ngFor="let usuario of usuarios; index as indice; first as isFirst">  
    Tarefa {{ indice }} -> {{ usuario.nome }} - Categoria: {{ usuario.categoria }}
    <br>
    <div>
      <h4 style="margin-bottom: 7px;">Adicionar categoria</h4>
      <button (click)="adicionarCategoria(usuario, $event)">TODO</button>
      <button (click)="adicionarCategoria(usuario, $event)">DOING</button>
      <button (click)="adicionarCategoria(usuario, $event)">DONE</button>
    </div>
    <br>
    <button (click)="removerTarefa(usuario)">Remover tarefa</button>
    <!-- <button (click)="adicionarCategoria(usuario)">Adicionar categoria</button>
    <input *ngIf="mostraCategoria" [(ngModel)]="pessoa.categoria">
    <label *ngIf="mostraCategoria">Categoria: {{ usuario.categoria }}</label> -->
  </h4>
</div>