<button (click)="logout()">logout</button>

<app-modal-task
    [propsList]="propsList"
    (newCard)="createCard($event)"
></app-modal-task>

<br>

<app-modal-prop
    (newProp)="createProp($event)"
></app-modal-prop>


<section class="tasks-container">
    <app-task-card
        *ngFor="let task of taskList"
        [task]="task"
        (edit)="editCard()"
        (remove)="removeCard($event)"
        draggable="true"
    ></app-task-card>
</section>

<!-- [hasPermission]="hasPermission()" -->
