<h1>Cadastro de tarefas</h1>

<div>
  <input [(ngModel)]="nomeTarefa" placeholder="Digite o nome da tarefa">
  
  <select [(ngModel)]="categoria">
    <option *ngFor="let opcao of listaCategorias"> {{ opcao }} </option>
  </select>

  <button (click)="cadastrarTarefa()">Cadastrar</button>
</div>

<section class="lista-container">
  <div *ngFor="let categoria of listaCategorias">
    <p> {{ categoria }} </p>

    <div *ngFor="let tarefa of listaTarefas">
      <div *ngIf="tarefa.categoria == categoria">

        <div>
          <p>Nome: {{ tarefa.nome }}</p>
          <p>Categoria: {{ tarefa.categoria }}</p>
        </div>

        <div>
            <select (change)="alterarCategoria(tarefa)" [(ngModel)]="categoriaAlt">
              <option *ngFor="let categoria of listaCategorias"> {{ categoria }} </option>
            </select>
        </div>

        <div>
          <button (click)="removerTarefa(tarefa)">Remover</button>
        </div>

      </div>
    </div>
  </div>
</section>
