<header>
  <h1>Tarefas</h1>

  <div>
    <input [(ngModel)]="nomeTarefa" placeholder="Digite o nome da tarefa" maxlength="16">

    <select [(ngModel)]="categoria">
      <option *ngFor="let categoria of listaCategorias"> {{ categoria.nome }} </option>
    </select>

  </div>
  <button (click)="cadastrarTarefa()">Cadastrar</button>

</header>

<section class="lista-container">
  <div class="centro">
    <div *ngFor="let categoria of listaCategorias" class="categoria"
    (dragover)="dragover(categoria, $event)"
    (drop)="drop()">

      <div class="div-categoria-nome">
        <p class="title-categoria" [style.backgroundColor]="categoria.color"> {{ categoria.nome }} </p>
      </div>

      <div *ngFor="let tarefa of listaTarefas; index as index">
        <div *ngIf="tarefa.categoria == categoria.nome" class="card-tarefa"       
        draggable="true" 
        (dragstart)="drag(tarefa)"
        (drop)="getIndex(index)">

          <div>
            <p class="nome">{{ tarefa.nome }}</p>
            <p class="categoria"><strong>{{ tarefa.categoria }}</strong></p>
          </div>

          <div class="remover-alterar">

            <button (click)="removerTarefa(tarefa)">Remover</button>

            <div *ngIf="!tarefa.showCategoria">
              <button (click)="showCategoriaFunc(tarefa)">Alterar categoria</button>
            </div>


            <div *ngIf="tarefa.showCategoria">
              <select (change)="alterarCategoria(tarefa)" [(ngModel)]="categoriaAlt">
                <option *ngFor="let categoria of listaCategorias"> {{ categoria.nome }} </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
