<header>
  <h1>Categorias</h1>

  <div class="inputs">
    <input [(ngModel)]="nome" placeholder="Digite o nome da categoria" maxlength="16"/>
    <div class="input-color-div">
      <input type="color" [(ngModel)]="color"/>
    </div>
  </div>

  <button (click)="cadastrarCategoria()">Cadastrar</button>
</header>

<section class="lista-container">
  <div class="colunas-item">
    <div *ngFor="let categoria of listaCategorias" class="item-categoria">
      <div>
        <p [style.backgroundColor]="categoria.color">{{ categoria.nome }}</p>
      </div>

      <div>
        <button (click)="removerCategoria(categoria)">x</button>
      </div>
    </div>
  </div>
</section>
