<header>
  <div>
    <div class="inputs">
      <input placeholder="Digite o nome..." />
      <select>
        <option> (( propriedade.nome )) </option>
      </select> 
    </div>

    <div>
      <button>Cadastrar</button>
    </div>
  </div>
</header>

<main>
  <section class="container-geral">

    <div>
      <p>(( propriedade.nome ))</p>

      <div>
        <div>

          <div class="prop-title">
            
          </div>

          <div class="prop-buttons">

          </div>

        </div>
      </div>
    </div>

  </section>
</main>
