header {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header input {
    width: 220px;
    height: 30px;
    border-radius: 10px;
    border: solid black 2px;
    padding-left: 12px;
    margin-top: 5px;
    margin-right: 3px;
}

header button {
    margin-top: 3px;
    width: 240px;
    height: 28px;
    background-color: black;
    color: white;
    border-radius: 7px;
    border: solid transparent 2px;
    cursor: pointer;
}

header button:hover {
    background-color: white;
    color: black;
    border: solid black 2px;
    transition: 0.3s;
}


/* ---------------------------------------------------------- */

.lista-container {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.colunas-item {
    padding: 20px;
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-categoria {
    padding: 7px;
    width: 30%;
    border: solid black 1px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


.item-categoria button {
    text-align: center;
    font-weight: bold;
    height: 35px;
    width: 40px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-categoria button:hover {
    background-color: darkred;
    transition: 0.2s;
}