<header>
  <div>
    <div class="inputs">
      <input placeholder="Digite o nome..." [(ngModel)]="nome" />
      <select [(ngModel)]="prop">
        <option *ngFor="let prop of listaProps">{{ prop.nome }}</option>
      </select>
    </div>

    <div>
      <button (click)="cadastrarTarefa()">Cadastrar</button>
    </div>
  </div>
</header>

<main>
  <section class="container-geral">

    <div *ngFor="let prop of listaProps">

      <div class="prop-title">
        <p>{{ prop.nome }}</p>
      </div>

      <div *ngFor="let tarefa of listaTarefas" class="card">
        <div *ngIf="tarefa.propriedades?.nome === prop.nome">

          <div class="card-title">
            <p>{{ tarefa.nome }}</p>
          </div>

          <div class="card-prop-content">
            <p></p>
          </div>

        </div>

      </div>

    </div>
  </section>
</main>
